.App {
  text-align: center;
}

.image{
  width: 25%;
}

.App h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.App button {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.App table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.App th {
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 8px;
}
.App td {
  border: 1px solid grey;
  padding: 8px;
}

.App img {
  max-width: 100%;
  height: auto;
}
.App button {
  background-color: orange;
}

